// COLORS
$color-primary:#152850;
// $color-primary-light:#7ed56f;
// $color-primary-dark:#28b485;

$color-secondary:#00A8CC;
// $color-secondary-light:#7ed56f;
// $color-secondary-dark:#28b485;

$color-tertiary:#FFFFFF;
$color-tertiary-light:#F7F7F7;
$color-tertiary-dark:#E8E8E8;
$color-black: #000000;

// FONT SIZES

$default-font-size: 1.6rem;


// // GRID

// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;
// $gutter-horizontal-small: 4rem;
