.fluid-containter {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 10rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20rem;
  &__left-illustration {
    position: absolute;
    left: 0;
    top: 0;
    width: 80rem;
    z-index: -1;
  }
  &__right-illustration {
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 80rem;
  }
  &__middle-illustration {
    position: absolute;
    left: 0;
    top: 0;
    width: 84%;
  }
  @media only screen and (max-width: 1440px) {
    &__middle-illustration {
      width: 100%;
    }
  }
  .sign-up-box {
    min-width: 60rem;
    min-height: 50rem;
    background-color: $color-tertiary;
    border-radius: 1.5rem;
    box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.1);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-wrap: wrap;
    padding: 7rem;
    // margin-left: 20rem;
    &__header {
      font-size: 2.5rem;
      font-weight: 600;
      font-family: inherit;
      color: black;
    }
    .horizontal-line {
      width: 20%;
      height: 0.5rem;
      background-color: black;
      margin: 1rem 0;
      border-radius: 1rem;
    }
    &__form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 60rem;
      height: 60rem;
    }

    .input-width-fix {
      width: 60%;
      margin-right: 10rem !important;
    }
    &__input {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      margin-right: 3rem;
      &-label {
        font-weight: 500;
        font-size: 1.5rem;
        font-family: inherit;
        color: $color-primary;
      }
      &-field {
        padding: 1.5rem;
        border: 0.1rem solid #707070;
        border-radius: 1rem;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: inherit;
        margin-top: 1rem;
      }
      &-submit-btn {
        border: none;
        background-color: #8ab1f2;
        padding: 1.5rem 6rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        font-family: inherit;
        width: 100%;
        color: $color-tertiary;
        border-radius: 1rem;
        box-shadow: 0 0 1.5rem rgba($color: #8ab1f2, $alpha: 0.5);
        margin-top: 5rem;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          background-color: $color-primary;
          box-shadow: 0 0 1rem rgba($color: #8ab1f2, $alpha: 0.8);
        }
        &:focus {
          outline: none;
        }
      }
    }
    .or-word {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      font-family: inherit;
      margin-top: 2rem;
    }
    .social-media-sign {
      border: none;
      padding: 1.5rem 6rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      font-family: inherit;
      width: 100%;
      color: $color-tertiary;
      border-radius: 1rem;
      margin-top: 3rem;
      cursor: pointer;
      transition: all 0.2s;
      text-decoration: none;
      text-transform: uppercase;
    }
    .fb {
      background-color: #3b579d;
      box-shadow: 0 0 1.5rem rgba($color: #3b579d, $alpha: 0.5);
    }
    .g {
      background-color: #ea5827;
      box-shadow: 0 0 1.5rem rgba($color: #ea5827, $alpha: 0.5);
    }
  }
}

.form-flex {
  width: 100rem !important;
}
.btn-width-fix {
  width: 60% !important;
}
.hr-width-fix {
  width: 10% !important;
}

.position-fix-left {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 80rem;
  z-index: -1;
}
.position-fix-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80rem;
  z-index: -1;
}

.sign-up-3 {
  justify-content: flex-end !important;
  &__centeral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .verification {
    &-header {
      font-size: 2.5rem;
      font-weight: 500;
      font-weight: inherit;
      text-transform: uppercase;
      color: black;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &-paragraph {
      font-size: 1.8rem;
      font-weight: 400;
      font-weight: inherit;
      text-transform: uppercase;
      color: black;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &-phone-number {
      font-size: 2.5rem;
      font-weight: 700;
      font-weight: inherit;
      text-transform: uppercase;
      color: black;
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
    &-input {
      width: 80%;
      border: 0.1rem solid #707070;
      padding: 1.8rem;
      border-radius: 1rem;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: inherit;
    }
  }
  &__btn {
    width: 80% !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .fluid-containter {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 1rem;
    &__right-illustration {
      display: none;
    }
    .sign-up-box__form {
      height: 120rem;
    }
  }
  .position-fix-left {
    display: none;
  }
  .fluid-containter .sign-up-box {
    min-width: 100%;
    padding: 7rem 4rem;
}
.fluid-containter__left-illustration {
  width: 100%;
}
.fluid-containter .sign-up-box__form {
  width: 100%;
}
.fluid-containter .sign-up-box .input-width-fix {
  width: 100%;
}
.fluid-containter .sign-up-box {
  align-self: auto;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .fluid-containter {
    width: 100%rem;
  }
  .fluid-containter .sign-up-box__form {
    width: 50rem;
}
.position-fix-right {
  display: none;
}
.position-fix-left {
  display: block;
}
.fluid-containter .sign-up-box {
  align-self: auto;
  min-width: 85%;
}
.sign-up-3 {
  justify-content: center !important;
}
}
