.timeline {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20rem;
    &__left-panel, &__right-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
    }

    &__options {
        width: 35rem;
        min-height: 20rem;
        background-color: $color-tertiary;
        box-shadow: 0 0 2rem rgba($color: #000000, $alpha: 0.16);
        border-radius: 2rem;
        align-self: flex-start;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        padding: 5rem;
    }
    
    .options__list {
        list-style: none;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .options__items {
            &:not(:first-child){
                margin-top: 5rem;
            }
        }
        .options__item {
            text-decoration: none;
            color: $color-primary;
            font-family: inherit;
            font-weight: 400;
            font-size: 1.7rem;
            text-transform: uppercase;
            &:hover {
                color: $color-secondary;
            }
        }
    }
    &__social-media-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;
    }
    .socail-media-icon {
        width: 3rem;
        height: 3rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .right-panel {
        margin-top: 3rem;
    }
}